extends layout


block content
	a(href='#menu-toggle', class='glyphicon glyphicon-menu-hamburger	', id='menu-toggle')
	
	script(type='text/babel' src='/javascripts/app.js')
	
	#page-content-wrapper
	
					